@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #56361d;
}

.game-background {
    /* background: url("../images/minigame/background.png"); */
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 100vh !important;
    position: relative;
}

.minigame-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.game-header {
    /* height: 1vh; */
    margin-top: 50px;
    text-align: center;
    /* padding: 15px 50px; */
    /* border: 1px solid red; */
}

.minigame-title {
    text-align: center;
}

.minigame-title h1 {
    font-size: 48px;
    font-weight: 700;
    color: #56361d;
}

.minigame-title p {
    color: #56361d;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    width: 60%;
    margin: 10px auto;
    /* border: 1px solid red; */
}

.minigame-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    /* border: 1px solid red; */
}

.minigame-answerbox {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100px;
    min-width: 40px;
    height: 60px;
    font-size: 36px;
    margin-right: 10px;
    text-align: center;
    color: black;
    /* padding: 10px 20px; */
}

.minigame-hint {
    text-align: center;
    margin-top: 20px;
}

.answer-section {
    border: 2px solid #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 30px;
}

.minigame-input {
    text-align: center;
}

.minigame-input h2 {
    color: #56361d;
}

.minigame-inputbox {
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    height: 118px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: transparent;
}

.minigame-img {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.minigame-indicator {
    display: flex;
    height: 200px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: black;
    justify-content: space-around;
    align-items: center;
}

.laptop-img {
    width: 100px;
    height: auto;
    text-align: center;
    /* border: 1px solid red; */
}

.brand-logo {
    width: 150px;
    height: auto;
    text-align: center;
}

.minigame-wrong {
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px 50px; */
}

.minigame-wrong h3 {
    font-size: 24px;
    margin-right: 10px;
    background: #ac1f1b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 7px 15px;
    color: #fff;
}

.winner {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.submit-btn {
    background: #1bac3b;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    border: transparent;
    padding: 10px 30px;
    margin-top: 25px;
    transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
    cursor: pointer;
    background: #16882e;
}

.winner-img {
    width: 250px;
}

.reset-btn-container {
    text-align: right;
}

.reset-btn {
    background: #ac1f1b;
    font-size: 24px;
    color: white;
    padding: 10px 30px;
    border: transparent;
    border-radius: 5px;
}

@media screen and (max-width: 425px) {
    .minigame-title h1 {
        font-size: 32px;
    }

    .minigame-hint p {
        font-size: 12px;
        width: 100%;
        margin: 15px auto;
    }

    .game-header {
        height: 10vh;
        padding: 15px 10px;
    }

    .minigame-header-img {
        width: 150px;
    }

    .laptop-img {
        width: 30px;
    }

    .brand-logo {
        width: 70px;
    }

    .minigame-answerbox {
        font-size: 16px;
        margin-right: 5px;
        min-width: 30px;
        height: 40px;
        padding: 10px;
    }

    .minigame-inputbox {
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        width: 100px;
        height: 60px;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: transparent;
    }

    /* .minigame-wrong {
        display: flex;
        padding: 10px 50px;
    } */

    .minigame-input h2 {
        font-size: 24px;
    }

    .minigame-wrong h3 {
        font-size: 14px;
        margin-right: 15px;
    }

    .winner-img {
        width: 200px;
    }

    .submit-btn {
        font-size: 16px;
        padding: 10px 15px;
        margin-top: 15px;
    }

    .answer-section {
        margin: 15px auto;
        padding: 10px;
    }

    .minigame-img {
        margin-top: 20px;
    }

    .minigame-indicator {
        height: 80px;
    }

    .minigame-indicator h1 {
        font-size: 20px;
    }


    .reset-btn-container {
        text-align: left;
    }

    .reset-btn {
        font-size: 16px;
        padding: 10px 15px;
        margin-top: 15px;
    }

}

.minigame-hint p {
    color: #56361d;
}