/*START LIVECHAT*/
  .help-block{
    color : #ff0000;
  }


  .livechat{
    display : none;
    width: 345px;
    position:fixed;
    bottom:130px;
    z-index: 1000;
    right:10px;
  }

  .img-chat-sales-bounce, .img-chat-logo-bounce{
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .img-chat-sales-bounce{animation-delay: 1s;}
  .img-chat-logo-bounce{animation-delay: 1s;}

  @keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }

  .logo-chat{
    position:absolute;
    left : 0px;
    z-index: 800;
    width: 100px;
  }

  .img-logo-chat{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 7px;
    border-color: #D9D9D9;
    border-style: solid;
  }

  .logo-chat-wab{
    position:absolute;
    z-index: 900;
    right:0px;
    bottom:0px;
    width: 35px;
  }

  .box-chat{
    display: none;
    position:absolute;
    width: 5px;
    height : 80px;
    padding-left:80px;
    padding-right:7px;
    background-color: #0F0F0F;
    opacity: 0.7;
    z-index: 500;
    margin-top :10px;
    padding-top:10px;
    left:25px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    border-radius: 5px;
    color : #ffffff;
    line-height: 18px;
    font-size: 14px;
  }

  .close-chat{
    display : none;
    position: relative;
  }

  .chat-message{
      bottom:15%;
      position:absolute;
      -webkit-animation:linear;
      -webkit-animation-name: run;
      -webkit-animation-duration: 2s;
      z-index: 19;
      animation-delay: 5
  }
  @-webkit-keyframes run {
      0% { left: 0;}
      50%{ left : 100%;}
      100%{ left: 0;}
  }

  .text-chat-1, .text-chat-2{
    display: none;
  }

  .popupkiri{
    display : none;
    width: 200px;
    position:fixed;
    top:120px;
    z-index: 1500;
    left:10px;
  }

  .popUpThr{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 6px;
    border-color: #FFFF00;
    border-style: solid;
  }

  .imgPopUpThr{
    width:100%;
    border-radius: 50%;
  }

  .ctpu{
    display : none;
    position: relative;
    left:60px;
  }

  /* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.9s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
